.navbar-custom{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: black;
  color: white;
  min-height: 64px;
  align-items: center;
}

.navbar-div-1{
  flex: 1;
  align-items: center;
  justify-content: center;
}

.navbar-brand-logo{
  width: 50px;
  margin-left: 50px;
}

.navbar-brand-text{
  font-size: 20px;
}

.navbar-div-2{
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  cursor: pointer
}



